:root {
  --surface-1-light: #fff;
  --text-1-light: #000;
  --surface-1-dark: #000;
  --text-1-dark: #eee;
}

section.gallery {
  margin: 0;
  padding: 0;
  max-width: none;
}

.links {
  display: flex;
  position: fixed;
  right: 24px;
  bottom: 24px;
  flex-wrap: wrap;
  margin-left: 16px;

  li {
    margin-left: 8px;

    a {
      display: block;
      -webkit-backdrop-filter: blur(20px);
      -moz-backdrop-filter: blur(20px);
      backdrop-filter: blur(20px);
      transition: background-color 0.1s linear;
      border-radius: 16px;
      background-position: 8px;
      background-size: 16px;
      background-repeat: no-repeat;
      background-color: rgba(200, 200, 200, 0.25);
      width: 32px;
      height: 32px;
      overflow: hidden;
      text-indent: 150%;
      white-space: nowrap;

      &:hover {
        background-color: rgba(200, 200, 200, 0.5);
      }
    }

    &.link {
      a {
        padding: 0 12px;
        width: auto;
        color: rgba(0, 0, 0, 0.75);
        font-weight: 600;
        font-size: 13px;
        line-height: 32px;
        text-decoration: none;
        text-indent: 0;
        text-transform: uppercase;
      }
    }
  }
}

body {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

body > header {
  padding: 0 24px;
  height: 60px;
  min-height: 60px;
}
