:root {
  --surface-1-light: #fff;
  --text-1-light: #000;
  --surface-1-dark: #000;
  --text-1-dark: #eee;
}

.links {
  display: flex;
  position: fixed;
  right: 24px;
  bottom: 24px;
  flex-wrap: wrap;
  margin-left: 16px;

  li {
    margin-left: 8px;

    a {
      display: block;
      backdrop-filter: blur(20px);
      transition: background-color 0.1s linear;
      border-radius: 16px;
      background-color: rgba(200, 200, 200, 0.25);
      width: 32px;
      height: 32px;
      white-space: nowrap;

      &:hover {
        background-color: rgba(200, 200, 200, 0.5);
      }
    }

    &.link {
      a {
        padding: 0 12px;
        width: auto;
        color: rgba(0, 0, 0, 0.75);
        font-weight: 600;
        font-size: 13px;
        line-height: 32px;
        text-transform: uppercase;
      }
    }
  }
}

body > header {
  padding: 0 24px;
  height: 60px;
  min-height: 60px;
  margin-bottom: 0;
  font-weight: 600;
}

main > section {
  margin-bottom: 0;
}
